<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated basicwebsite -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sirius.sample.basicwebsite.presentation.BasicwebsiteModelWizardID"
            name="%_UI_BasicwebsiteModelWizard_label"
            class="org.eclipse.sirius.sample.basicwebsite.presentation.BasicwebsiteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BasicwebsiteModelFile.gif">
         <description>%_UI_BasicwebsiteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated basicwebsite -->
      <editor
            id="org.eclipse.sirius.sample.basicwebsite.presentation.BasicwebsiteEditorID"
            name="%_UI_BasicwebsiteEditor_label"
            icon="icons/full/obj16/BasicwebsiteModelFile.gif"
            extensions="basicwebsite"
            class="org.eclipse.sirius.sample.basicwebsite.presentation.BasicwebsiteEditor"
            contributorClass="org.eclipse.sirius.sample.basicwebsite.presentation.BasicwebsiteActionBarContributor">
      </editor>
   </extension>

</plugin>
